{
    "presets": ["@babel/env"],
    "plugins": [
        ["@babel/plugin-proposal-decorators",{ "legacy": true }],
        ["@babel/plugin-transform-regenerator", {
            "asyncGenerators": false,
            "generators": false,
            "async": false
          }]
    ]
}